body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 960px;
    margin: 0 auto;
}

#tbl {
    width: 100%;
    border-collapse: collapse;
}

#tbl th,
#tbl td {
    border: 1px solid #000;
    height: 30px;
}

#tbl thead tr:first-child {
    background-color: grey;
}

#tbl tr:nth-child(2n+1) {
    background-color: antiquewhite;
}

#tbl tbody tr:last-child {
    background-color: lightslategray;
}